DATABASE_URL=postgresql://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/YOUR_DB_NAME

SESSION_SECRET=your_long_random_secret_here

# Add your app-specific variables below this line
MEMBERSHIP_PASSCODE=your_long_random_secret_here
ADMIN_PASSCODE=your_long_random_secret_here